/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color:black;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.sidebar {
    background-color: #f4f4f4;
    width: 250px;
    padding: 1em;
}

.main-content {
    flex: 1;
    padding: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}
