body{
    margin: 0;
    padding: 0;
}
section{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer,main{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    height: 10vh;
    background-color: aqua;

}
main{
    height: 80vh;
    background-color: wheat;
    flex-grow: 1;
}
footer{
    height: 10vh;
    background-color: brown;
}