body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.parent{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 15% 70% 15%;

}
.header{
    background-color: lightblue;
    grid-column: 1/4;
    grid-row: 1/2;

}
.left{
    background-color: lightcyan;
    grid-column: 1/2;
    grid-row: 2/3;

}
.main{
    background-color: lightcoral;
    grid-column: 2/3;
    grid-row: 2/3;


}
.menu{
    background-color: lightgray;
    grid-column: 3/4;
    grid grid-row: 2/3;

}
.footer{
    background-color: lightsalmon;
    grid-column: 1/4;
    grid-row: 3/4;

} 
grid .footer,.header,.left,.main,.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}