ol{
    border: 1px solid gray;
    width: 15%;
    display: inline-block;
    margin: 50px;
    border-radius: 20px;
}
li{
    background-color: yellow;
    color: red;
    padding: 10px;
    margin: 10px;
    border: 10px solid greenyellow;
    border-radius: 10px;
}
li:hover{
    background-color: aqua;
}