table{
    width: 80%;
    text-align: center;
    margin:  100px auto;
}
table, th,td{
    border: 1px,solid gray;
    border-collapse: collapse;
}
th{
    height: 70px;
}
td{
    height: 50px;
}
tr:nth :nth-child(even){
    background-color: brown;
    color: white;
} 
tr:nth-child(odd){
    background-color: aquamarine;
    color: white;
}
tr:hover{
    background-color: yellow;
}